{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ form.media.css }}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% for message in messages %}
    {{ message|safe }}
{% endfor %}

{% if form.is_bound and not form.is_valid %}
    <p>Form errors found:</p>
    <br>
    <br>
{% endif %}
{% block content %}

{% endblock %}
{{ form.media.js }}
</body>
</html>
